/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  font-family: 'Roboto', sans-serif;
  background-color: #181818;
  color: #fff; }

body {
  overflow-y: scroll;
  padding-top: 100px; }

main {
  max-width: 1600px;
  margin: 0 auto; }

footer {
  padding: 20px 0 50px 0;
  text-align: center;
  font-size: 13px;
  color: #888;
  line-height: 24px; }

h1 {
  margin-bottom: 20px; }

a {
  color: #ffb4ec;
  text-decoration: none; }
  a:hover {
    color: #ff93e7; }

.search-progress {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 500;
  height: 8px;
  background-color: #ffeb00;
  box-shadow: 0 1px 3px #000;
  transition: 0s;
  width: 0;
  opacity: 1; }
  .search-progress.loading {
    transition: 1s;
    width: 80%; }
  .search-progress.finished {
    transition: .5s;
    width: 100%;
    opacity: 0; }

.search-results {
  max-width: 1600px;
  display: none;
  margin: 0 auto; }
  .search-results.on {
    display: block; }
  .search-results .results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: flex-start;
    margin: 0 -10px 0 0; }
    .search-results .results > a {
      flex: 0 1 calc(25% - 10px);
      align-items: stretch;
      margin: 0 10px 10px 0;
      display: flex;
      background-color: #424242;
      text-shadow: 0 0 2px 1px #000;
      border: none;
      border-radius: 5px;
      overflow: hidden;
      line-height: 20px;
      padding: 0;
      text-align: left;
      cursor: pointer;
      outline: none;
      transition: .2s;
      text-decoration: none; }
      .search-results .results > a:hover {
        background-color: #333; }
      .search-results .results > a > div:first-of-type {
        flex: 0 1 84px;
        width: 84px;
        min-height: 84px;
        position: relative;
        overflow: hidden; }
        .search-results .results > a > div:first-of-type img:first-of-type {
          max-height: 92px;
          max-width: 92px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: 3; }
        .search-results .results > a > div:first-of-type img:last-of-type {
          filter: blur(30px);
          width: 150px;
          height: 150px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: 1; }
      .search-results .results > a.res-Achievement > div:first-of-type img:first-of-type,
      .search-results .results > a.res-Emote > div:first-of-type img:first-of-type {
        border-radius: 6px; }
      .search-results .results > a > div:last-of-type {
        padding: 5px 10px 5px 15px;
        flex: 0 1 calc(100% - 84px);
        align-self: center; }
        .search-results .results > a > div:last-of-type h3 {
          display: block;
          font-size: 16px;
          font-weight: 300;
          margin-bottom: 5px;
          color: #fbffaa; }
        .search-results .results > a > div:last-of-type small {
          display: block;
          font-size: 14px;
          line-height: 16px;
          color: #aaa; }
  .search-results .results-page {
    flex: 0 1 100%;
    padding: 10px 0;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px; }
  .search-results .more {
    text-align: center;
    margin-top: 10px;
    opacity: 0;
    transition: .3s; }
    .search-results .more.on {
      opacity: 1; }
    .search-results .more > button {
      background-color: #333;
      border: solid 1px #000;
      box-shadow: 0 1px 4px #111;
      color: #aaa;
      padding: 10px 20px 8px 20px;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 14px;
      outline: none;
      cursor: pointer; }

.page {
  width: 100%;
  margin: 0 auto 30px auto;
  border-radius: 8px;
  box-shadow: 0 1px 5px #000;
  background-color: #333;
  overflow: hidden; }

.page-top {
  display: flex;
  padding: 20px;
  border-bottom: solid 1px #000;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#515151+0,424242+100 */
  background: #464646;
  /* Old browsers */
  background: -moz-linear-gradient(top, #464646 0%, #373737 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #464646 0%, #373737 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #464646 0%, #373737 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
  z-index: 10;
  box-shadow: 0 1px 5px #222; }
  .page-top > div:first-of-type {
    flex: 0 1 128px;
    width: 128px;
    height: 128px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: solid 1px #000;
    box-shadow: 0 1px 3px #000; }
    .page-top > div:first-of-type img:nth-of-type(1) {
      max-height: 92px;
      max-width: 92px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 3; }
    .page-top > div:first-of-type img:nth-of-type(2), .page-top > div:first-of-type img:nth-of-type(3), .page-top > div:first-of-type img:nth-of-type(4) {
      filter: blur(25px);
      width: 150px;
      height: 150px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1; }
  .page-top > div:last-of-type {
    padding: 10px 0 0 30px; }
    .page-top > div:last-of-type h2 {
      font-size: 32px;
      font-weight: 300;
      margin-bottom: 20px; }
      .page-top > div:last-of-type h2 small {
        font-weight: bold;
        font-size: 14px;
        color: #888; }
      .page-top > div:last-of-type h2 span {
        color: yellow; }
    .page-top > div:last-of-type div {
      font-size: 20px;
      color: #ddd; }
      .page-top > div:last-of-type div p {
        font-size: 16px;
        color: #888;
        margin-top: 10px;
        max-width: 800px;
        line-height: 20px; }
    .page-top > div:last-of-type > em {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 20px;
      color: #666; }

.page-content {
  display: flex; }
  .page-content .page-details {
    flex: 1 1 50%;
    padding: 20px;
    border-right: solid 1px #000; }
    .page-content .page-details h3 {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 10px;
      color: #aaa; }
    .page-content .page-details hr {
      margin: 30px -21px;
      border: none;
      background-color: #000;
      height: 1px; }
    .page-content .page-details .one, .page-content .page-details .two, .page-content .page-details .three {
      font-size: 18px;
      margin-bottom: 30px; }
      .page-content .page-details .one span, .page-content .page-details .two span, .page-content .page-details .three span {
        color: #feffc5; }
      .page-content .page-details .one table, .page-content .page-details .two table, .page-content .page-details .three table {
        width: 100%; }
        .page-content .page-details .one table th, .page-content .page-details .one table td, .page-content .page-details .two table th, .page-content .page-details .two table td, .page-content .page-details .three table th, .page-content .page-details .three table td {
          padding: 5px; }
    .page-content .page-details .stat1 {
      color: #fff;
      font-size: 15px;
      letter-spacing: 1px; }
    .page-content .page-details .stat2 {
      color: #fff390; }
    .page-content .page-details .stat3 {
      color: #7dff68; }
    .page-content .page-details .search-icon {
      vertical-align: bottom;
      margin: 0 5px 0 0; }
  .page-content .page-market {
    flex: 1 1 50%;
    background-color: #222; }
    .page-content .page-market .page-market-server {
      background-color: #222;
      display: flex;
      padding-bottom: 10px; }
      .page-content .page-market .page-market-server small {
        font-size: 14px;
        color: #555; }
      .page-content .page-market .page-market-server > div:first-of-type {
        flex: 0 1 75%;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 15px; }
      .page-content .page-market .page-market-server > div:last-of-type {
        flex: 0 1 25%;
        text-align: right;
        padding: 6px; }
        .page-content .page-market .page-market-server > div:last-of-type select {
          width: 100%;
          padding: 8px;
          color: #aaa;
          border: solid 1px #444;
          border-radius: 3px;
          font-size: 14px;
          outline: none;
          transition: .1s;
          box-shadow: 0 1px 2px #000;
          cursor: pointer;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#515151+0,424242+100 */
          background: #3c3c3c;
          /* Old browsers */
          background: -moz-linear-gradient(top, #3c3c3c 0%, #323232 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #3c3c3c 0%, #323232 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #3c3c3c 0%, #323232 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
          .page-content .page-market .page-market-server > div:last-of-type select:hover {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#515151+0,424242+100 */
            background: #464646;
            /* Old browsers */
            background: -moz-linear-gradient(top, #464646 0%, #3c3c3c 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #464646 0%, #3c3c3c 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #464646 0%, #3c3c3c 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
    .page-content .page-market > small {
      font-size: 13px;
      color: #888;
      padding: 15px;
      display: block;
      text-align: center; }
      .page-content .page-market > small p {
        display: block;
        margin-bottom: 8px; }
    .page-content .page-market table {
      width: 100%; }
      .page-content .page-market table th, .page-content .page-market table td {
        padding: 15px; }
      .page-content .page-market table th {
        background-color: #222;
        font-weight: bold;
        font-size: 13px;
        color: #888;
        text-align: left; }
      .page-content .page-market table tr {
        border-bottom: solid 1px #444; }
        .page-content .page-market table tr:hover {
          background-color: #333; }
          .page-content .page-market table tr:hover td.retainer {
            color: #fff; }
      .page-content .page-market table td {
        border-right: solid 1px #262626; }
        .page-content .page-market table td:last-of-type {
          border: none; }
        .page-content .page-market table td.price-total {
          font-size: 18px;
          color: yellow;
          margin-bottom: 5px; }
          .page-content .page-market table td.price-total img {
            margin: 0 0 4px 5px; }
        .page-content .page-market table td.price-unit {
          font-size: 16px;
          color: #8d8d00; }
        .page-content .page-market table td.qty {
          font-size: 14px; }
        .page-content .page-market table td.retainer {
          color: #aaa; }
        .page-content .page-market table td.town img {
          margin: -8px 0; }
  .page-content .page-links h4 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 15px; }
  .page-content .page-links > div {
    margin-bottom: 30px; }
    .page-content .page-links > div > div {
      margin-left: 5px;
      padding: 15px;
      border-left: solid 2px #888; }

header {
  background-color: #333;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 1px 3px #000;
  z-index: 10000; }
  header > div {
    display: flex;
    max-width: 1600px;
    height: 70px;
    overflow: hidden;
    margin: 0 auto; }
  header .logo {
    flex: 0 1 220px;
    position: relative; }
    header .logo a {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  header .search {
    flex: 0 1 calc(100% - 870px);
    padding: 10px; }
    header .search input {
      width: 90%;
      font-size: 20px;
      font-weight: 300;
      color: #f8ffb7;
      outline: none;
      line-height: 48px;
      padding: 0 15px;
      border: solid 1px #000;
      box-shadow: 0 1px 5px #222;
      border-radius: 3px;
      background-color: #515151; }
  header nav {
    flex: 0 1 650px;
    padding: 10px;
    display: flex; }
    header nav button {
      flex: 1 1 auto;
      font-size: 18px;
      font-weight: 400;
      color: #ccc;
      outline: none;
      line-height: 52px;
      padding: 0 15px;
      border: none;
      transition: .2s;
      background-color: transparent;
      text-shadow: 0 1px #000;
      border-radius: 5px;
      margin-left: 10px; }
      header nav button:hover {
        background-color: #181818;
        cursor: pointer; }
      header nav button.login {
        font-weight: 600;
        color: #7dff68; }

.home {
  text-align: center;
  padding: 100px 0; }
  .home h1 {
    font-size: 42px;
    font-weight: 300;
    color: #888;
    display: block; }
