* { box-sizing: border-box; }
html {
    font-family: 'Roboto', sans-serif;
    background-color: #222222;
    color: #fff;
}
header {
    width: 800px;
    margin: 100px auto;
    position: relative;
}
main {
    width: 1200px;
    margin: 100px auto;
}
h1 {
    margin-bottom: 20px;
}
