* { box-sizing: border-box; }
html {
    font-family: 'Roboto', sans-serif;
    background-color: #222222;
    color: #fff;
}
header {
    margin: 50px 0 20px 0;
    position: relative;
}
main {
    width: 1200px;
    margin: 25px auto;
}
h1 {
    margin-bottom: 20px;
}
