* {
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
    background-color: #222222;
    color: #fff;
}
header {
    margin: 50px 0 20px 0;
    position: relative;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
        flex: 0 1 180px;
        text-align: left;
    }

    .search {
        flex: 0 1 600px;
        text-align: left;
    }
}
main {
    max-width: 1600px;
    margin: 25px auto;
}
h1 {
    margin-bottom: 20px;
}

a {
    color: #ffb4ec;
    text-decoration: none;

    &:hover {
        color: #ff93e7;
    }
}
