<div class="search-progress"></div>

<header>
    <div>
        <div class="logo">
            <a href="{{ path('home') }}"><img src="/logo/logo.png" height="160"></a>
        </div>
        <div class="search">
            <input type="text" placeholder="Search for something awesome">
        </div>
        <nav>
            <button>Database</button>
            <button>Markets</button>
            <button>Patch</button>
            <button>Tools</button>
            <button class="login">Login</button>
        </nav>
    </div>
</header>

<div class="search-results">
    <div class="results"></div>
    <div class="more">
        <button type="button">load more</button>
    </div>
</div>

