{% extends 'base.html.twig' %}

{% block body %}

    <header>
        <div class="search">
            <input type="text" placeholder="find things">
        </div>
        <div class="auto"></div>
    </header>

    <main>
        <p>Hi</p>
    </main>


{% endblock %}
