{% extends 'base.html.twig' %}

{% block body %}

    <header>
        <div class="search">
            <input type="text" placeholder="find things">
        </div>
        <div class="results"></div>
        <div class="more">
            <button type="button">load more</button>
        </div>
    </header>

    <main>
    </main>


{% endblock %}
